<%- include('./partials/header') -%>

    
<%- include('./partials/navbar') -%>

    <main class="main">

        <%- include('./section/banner') -%>

        <%- include('./section/categories', ) -%>

        <%- include('./section/product') -%>
        
        <%- include('./section/deals') -%>

        <%- include('./section/product-slide') -%>

        <%- include('./section/showcase') -%>

        <%- include('./section/productWithTabs') -%>


        <%- include('./partials/newsletter') -%>

    </main>

    <%- include('./partials/footer') -%>